<mat-toolbar color="primary" class="navbar">
  <div>Brand</div>
  <div>
    <span>Nav1</span>
    <span>Nav2</span>
    <span>Nav3</span>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav (opened)="log('Opened')" (closed)="log('Closed')" mode="side" [(opened)]="opened">
    SideNav
  </mat-sidenav>
  <mat-sidenav-content>
     Main Content
     <button mat-stroked-button (click)="opened = !opened">Toggle Model</button>
     <button mat-stroked-button (click)="sidenav.open()">Open</button>
     <button mat-stroked-button (click)="sidenav.close()">Close</button>
     <button mat-stroked-button (click)="sidenav.toggle()">Toggle</button>    

     <button mat-flat-button [matMenuTriggerFor]='appmenu'>Menu</button>

     <mat-menu #appmenu>
      <button mat-menu-item [matMenuTriggerFor]='submenu'>Menu1</button>
      <button mat-menu-item>Menu2</button>
     </mat-menu>

     <mat-menu #submenu>
      <button mat-menu-item>React</button>
      <button mat-menu-item>Angular</button>
      <button mat-menu-item>Vue</button>
     </mat-menu>
     
     <h1>Mat list</h1>
     <mat-list dense>
       <mat-list-item>Item 1</mat-list-item>
       <mat-list-item>Item 2</mat-list-item>
       <mat-list-item>Item 3</mat-list-item>
     </mat-list>
     <mat-nav-list>
       <a mat-list-item href="#">Home</a>
       <a mat-list-item href="#">Contact</a>
       <a mat-list-item href="#">Support</a>
     </mat-nav-list>

     <mat-list>
       <mat-list-item>
         <mat-icon matListIcon>home</mat-icon>
         <h3 matLine>Heading</h3>
         <p matLine>Line</p>
       </mat-list-item>

       <mat-divider></mat-divider>

       <mat-list-item>
        <mat-icon matListIcon>folder</mat-icon>
        <h3 matLine>Heading 1</h3>
        <p matLine>Line 2 </p>
      </mat-list-item>
     </mat-list>

  </mat-sidenav-content>
</mat-sidenav-container>
<div>
  <button mat-button>
    Hello
  </button>
  <button mat-raised-button>
    Raised Button
  </button>
  <button mat-flat-button>
    Flat Button
  </button>
  <button mat-stroked-button>
    Stroked Button
  </button>
</div>
<div style="margin: 1rem;">
  <button mat-icon-button>
    Icon Button
  </button>
  <button mat-fab>
    Fab Button
  </button>
  <button mat-mini-fab>
    Icon Button
  </button>
</div>
<h2>Button Toggle</h2>
<div>
  <mat-button-toggle #toggleBtn>Toggle</mat-button-toggle>
  {{toggleBtn.checked}}
</div>
<h2>Button Toggle Group</h2>
<div>
  <mat-button-toggle-group #toggleGroupSingle="matButtonToggleGroup">
    <mat-button-toggle value="Angular">Angular</mat-button-toggle>
    <mat-button-toggle value="React">React</mat-button-toggle>
    <mat-button-toggle value="React Native">React Native</mat-button-toggle>
  </mat-button-toggle-group>
  {{toggleGroupSingle.value}}
</div>

<h1>Spinner</h1>
<div>
  <mat-spinner></mat-spinner>
</div>
<h2>Button Toggle Group Multiple</h2>
<div>
  <mat-button-toggle-group #toggleGroupMultiple="matButtonToggleGroup" multiple>
    <mat-button-toggle value="Angular">Angular</mat-button-toggle>
    <mat-button-toggle value="React">React</mat-button-toggle>
    <mat-button-toggle value="React Native">React Native</mat-button-toggle>
  </mat-button-toggle-group>
  {{toggleGroupMultiple.value}}
</div>

<h2>Mat Icon</h2>
<div>
  <mat-icon color="primary">grade</mat-icon>
  <mat-icon>print</mat-icon>
</div>
<h2>Material Badge</h2>
<div style="margin: 2rem;">
  <span [matBadge]="notification" matBadgeOverlap="false" [matBadgeHidden]="notification === 0">Notification</span>
</div>

<div style="margin: 2rem;">
  <span matBadge="5" matBadgePosition="below before" matBadgeOverlap="false">Notification</span>
</div>

<div style="margin: 2rem;">
  <span matBadge="5" matBadgePosition="below after" matBadgeOverlap="false">Notification</span>
</div>

<div style="margin: 2rem;">
  <span matBadge="5" matBadgePosition="above before" matBadgeOverlap="false">Notification</span>
</div>
<h2>Badge Size</h2>

<div style="margin: 2rem;">
  <span matBadge="5" matBadgePosition="above before" matBadgeSize="small" matBadgeOverlap="false">Notification</span>
</div>

<div style="margin: 2rem;">
  <span matBadge="5" matBadgePosition="above before" matBadgeSize="medium" matBadgeOverlap="false">Notification</span>
</div>

<div style="margin: 2rem;">
  <span matBadge="5" matBadgePosition="above before" matBadgeSize="large" matBadgeOverlap="false">Notification</span>
</div>

<h2>Buttons</h2>
<div>
  <button color="primary" mat-button>Primary</button>
  <button color="accent" mat-button>Accent</button>
  <button color="warm" disablRipple mat-button>Primary</button>
  <button color="primary" mat-raised-button>Primary</button>
  <button color="accent" mat-raised-button>Accent</button>
  <button color="warm" mat-raised-button>Primary</button>
</div>
<h1>Typography</h1>
<p>It deals with the style and the apperiance of text on the webpage</p>
<div class="mat-display-1">This is display 1</div>
<div class="mat-display-2">This is display 2</div>
<div class="mat-display-3">This is display 3</div>
<div class="mat-display-4">This is display 4</div>

<div class="mat-headline">This is a heading for h1</div>
<div class="mat-tital">This is a heading for h2</div>
<div class="mat-subheading-2">This is a heading for h3</div>
<div class="mat-subheading-1">This is a heading for h4</div>

<div class="mat-body-1">This is body text</div>
<div class="mat-body-2">This is bold body text</div>
<div class="mat-caption">This is caption text</div>


<div class="mat-typography">
  <h1>This is heading for h1</h1>
  <h2>This is heading for h2</h2>
  <h3>This is heading for h3</h3>
  <h4>This is heading for h4</h4>

</div>